@import url(lib/normalize.css);
/*
	Document   : style.scss
	Created on : Jul 25, 2013, 3:53:34 PM
	Author     : Simon Elvery
	Description:
	The main CSS style sheet.
*/
h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif; }

h1, h3, h4 {
  font-weight: 400; }

h1 {
  font-style: italic;
  border-bottom: 1px solid rgba(126, 126, 126, 0.3);
  padding: 35px 15px 15px 15px;
  margin: 0px 20px 20px 20px;
  position: relative;
  font-size: 38px; }

h2 {
  font-size: 40px;
  padding-bottom: 15px;
  border-bottom: 5px solid rgba(190, 211, 226, 0.2);
  color: #a9becd;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
  font-weight: 700; }

h3 {
  font-style: italic;
  font-size: 26px;
  color: #585959;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4); }

h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 20px;
  padding: 10px 0px;
  color: #626a6f;
  border-bottom: 1px solid rgba(126, 126, 126, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4); }

a {
  color: #308fd9;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px; }

a:hover {
  color: #87b6da; }

/*
	Document   : layout
	Created on : Jul 25, 2013, 3:58:06 PM
	Author     : Simon
	Description:
	Purpose of the stylesheet follows.
*/
body {
  overflow-y: hidden;
  overflow-x: hidden; }

#sidebar {
  position: fixed;
  z-index: 100;
  width: 200px;
  left: 0px;
  top: 0px;
  height: 100%; }
  #sidebar header, #sidebar footer {
    width: 100%;
    height: 200px;
    position: absolute; }
  #sidebar header {
    top: 0; }
  #sidebar nav {
    position: absolute;
    bottom: 200px;
    top: 200px; }
  #sidebar footer {
    bottom: 0; }

#content-scroller {
  position: absolute;
  left: 200px;
  right: 0px;
  top: 0;
  overflow: hidden;
  height: 100%; }

#content-wrapper {
  width: 7950px;
  position: absolute;
  height: 100%;
  overflow: hidden; }

.content-pane {
  width: 500px;
  overflow-y: auto;
  height: 100%;
  float: left;
  border-right: 1px dashed rgba(126, 126, 126, 0.2);
  border-left: 1px dashed rgba(255, 255, 255, 0.5);
  background: transparent;
  transition: background 0.3s linear; }

/**
# This styles the site's main sidebar.

```
<div id="sidebar">
	<header>
		<h1>Kindred</h1>
		<h2>Explore the APDL</h2>
	</header>
	<nav>
		<a href=""></a>
	</nav>
	<footer>
		<% if CurrentFacebookMember %>
			<p>Hi $CurrentFacebookMember.FirstName</p>
			<% include ConnectLogout %>
		<% else %>
			<% include ConnectLogin %>
		<% end_if %>
	</footer>
</div>
```
*/
