/*
	Document   : typography
	Created on : Jul 25, 2013, 3:58:02 PM
	Author     : Simon
	Description:
	Purpose of the stylesheet follows.
*/
/*
	TODO customize this sample style
	Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
root {
  display: block; }
