h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4{
    font-weight: 400;
}
h1{
    font-style: italic;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    font-size: 38px;

    &.site-title {
        -webkit-transition: all 2s ease-in-out;
        border-bottom: none;
        z-index: 10;
        a {
            @include link-colors(#fff, #fff, #fff, #fff, #fff);
            border-bottom: 1px solid rgba(126, 126, 126, 0.3);
            text-decoration: none;
        }
    }
}

.CatalogueItem {
    .site-title {
        -webkit-transform: scale(.7);
    }
}

a{
    color: #308fd9;
}
a:hover{
    color: #87b6da;
}