body {
    font-family: $heading-font-family;
    color: $color;
}
h1, h2, h3, h4, h5 {
	font-family: $heading-font-family;
}

h1, h2, h3, h4{
    font-weight: 400;
    color: scale-lightness($color, 20);
}
h1{
    font-style: italic;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    font-size: 38px;

    &.site-title {
        border-bottom: none;
        z-index: 10;
        a {
            @include link-colors(#fff, #fff, #fff, #fff, #fff);
            border-bottom: 1px solid rgba(126, 126, 126, 0.3);
            text-decoration: none;
        }
    }
}

.CatalogueItem {
    .site-title {
        position: absolute;
        bottom: 0px;
        left: 50px;
    }
}

a{
    color: #308fd9;
}
a:hover{
    color: #87b6da;
}