h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4{
    font-weight: 400;
}
h1{
    font-style: italic;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    font-size: 38px;

    &.site-title {
        border-bottom: none;
        color: #fff;
        span {
            border-bottom: 1px solid rgba(126, 126, 126, 0.3);
        }
    }
}

a{
    color: #308fd9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a:hover{
    color: #87b6da;
}